controller:
  # Service configuration
  service:
    type: LoadBalancer
    
  # Enable metrics for Prometheus
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      
  # Resources
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
      
  # Configuration for better logging
  config:
    log-format-upstream: '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_length $request_time [$proxy_upstream_name] [$proxy_alternative_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status $req_id'
    
  # Admission webhooks
  admissionWebhooks:
    enabled: true